<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metrics Chart</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
</head>
<body>
    <main class="container">
    <h1>Device Metrics</h1>
    <form action="{{ url_for('get_metrics') }}" method="post">
    <div class="grid">
        <div>
            <select name="device" required>
                <option selected disabled value="">
                    Select a device
                  </option>
                {% for device in devices %}
                <option value="{{ device.id }}"> {{ device.name }} </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <select name="metric" required>
                <option selected disabled value="">
                    Select a metric
                  </option>
                {% for metric in metrics %}
                <option value="{{ metric.id }}"> {{ metric.name }} </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit">
                Show Graph
            </button>
        </div>
    </div>
</form>
    <div>
        {% if chart_html %}
            {{ chart_html | safe }}
        {% else %}
            <p> No data to display </p>
        {% endif %}
    </div>
    </main>
</body>
</html>
